<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center">My rides <span class="badge"> {{!!rides?.length ? rides.length : 0}} </span></h1>
    <div style="padding-bottom:20px;" class="container text-center">
    </div>
  </div>
</div>

<div *ngFor="let ride of rides">
  <app-ride-single [ride]="ride">Loading ride...</app-ride-single>
</div>

<!-- No rides -->
<div class="items-not-found" *ngIf="rides == null || rides.length == 0">
  <h1>
    <i class="fa fa-times" aria-hidden="true"></i>
    No rides found.
  </h1>
</div>
