<div *ngIf="!finishedLoading" class="loading">Loading rides&#8230;</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center">My rides <span class="badge"> {{!!rides?.length ? rides.length : 0}} </span></h1>
    <p class="text-center" style="color: lightgray">View the rides you are attending.</p>
    <div style="padding-bottom:20px;" class="container text-center">
    </div>
  </div>
</div>

<div *ngFor="let ride of rides">
  <app-ride-single [ride]="ride">Loading ride...</app-ride-single>
</div>

<div *ngIf="isLoading">
  <h1 class="text-center">
    Loading...
  </h1>
</div>

<!-- No rides -->
<div *ngIf="finishedLoading && rides?.length <= 0" class="items-not-found">
  <h1>
    <i class="fa fa-times" aria-hidden="true"></i>
    No rides found.
  </h1>
</div>
