<section *ngIf="ride">
  <div class="panel panel-primary ride-container">
    <div class="panel-heading text-center">
      <a [routerLink]="['/rides/details/'+ ride.RideId]" [queryParams]="{ReturnUrl:'rides'}">
        {{ride.Title}} - {{ride.DateDepart}}
      </a>
      <p style="display:inline-block">
        by
      </p>
      <a style="display:inline-block" [routerLink]="['/user/'+ride.Creator.Username]">
        {{ride.Creator.Username}}
      </a>
      <button (click)="toggleRideContainer(this)" class="btn-nostyle" style="float:right">
        <i class="fa fa-expand" aria-hidden="true"></i>
      </button>

      <a [routerLink]="['/rides/edit/'+ride.RideId]" [queryParams]="{ReturnUrl:'rides'}" *ngIf="isLogged && ride.Creator.Username.indexOf(user?.Username) > -1" style="float:left">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
    </div>
    <div class="panel-body">
      <div class="col-md-4 ride-map ride-map-container">
        <div class="panel panel-danger">
          <div class="panel-heading">Map</div>
          <div>
            <app-map [editable]="false" [waypoints]="ride.Trajet.GpsPoints" [showInstructions]="true" [height]="50"></app-map>
          </div>
        </div>
      </div>
      <div class="col-md-8 ride-description">
        <div class="panel panel-success">
          <div class="panel-heading">Info</div>
          <div class="panel-body">
            <p>
              <i class="fa fa-book infoSymbol"></i><strong>Title :</strong> {{ride.Title}}
            </p>
            <p>
              <i class="fa fa-align-justify infoSymbol"></i><strong>Description :</strong> {{ride.Description}}
            </p>
            <p>
              <i class="fa fa-user infoSymbol"></i><strong>Creator :</strong> {{ride.Creator.Username}}
            </p>
            <p>
              <i class="fa fa-exclamation-triangle infoSymbol"></i><strong>Niveau :</strong> {{ride.Level.Name}}<i *ngFor="let n of getTimes(ride.Level.LevelId)" class="fa fa-motorcycle levelSymbol"></i>
            </p>
            <p>
              <i class="fa fa-calendar infoSymbol"></i><strong>Start :</strong> {{ride.DateDepart  | date:'fullDate'}}, {{ride.DateDepart  | date:'shortTime'}}
            </p>
            <p *ngIf="ride.DateFin != null">
              <i class="fa fa-calendar infoSymbol"></i><strong>End :</strong> {{ride.DateFin  | date:'fullDate'}}, {{ride.DateFin  | date:'shortTime'}}
            </p>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">Comments</div>
          <div class="panel-body">
            <app-comment *ngFor="let comment of ride.Comments" [Comment]="comment">
            </app-comment>
            <div class="comment-container">
              <div>
                <textarea *ngIf="isLogged" [(ngModel)]="textValue" (keydown.enter)="sendMessage(); false" placeholder="Enter your message"></textarea>
                <div style="padding:10px" disabled *ngIf="!isLogged">
                  <p>
                    <a [routerLink]="['/login']">Login </a>
                    or
                    <a [routerLink]="['/register']">Register </a>
                    to comment.
                  </p>
                </div>
              </div>
              <button *ngIf="isLogged" (click)="sendMessage($event)">Send</button>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>
              Participants
              <span class="badge">{{ride.Participants.length}}</span>
            </p>
          </div>
          <div class="panel-body">
            <div *ngIf="isLogged">
              <div class="ride-attending-container" *ngIf="ride.Participants.indexOf(user?.Username) > -1 ">
                <button class="btn btn-primary" (click)="cancelAttendRide(ride)">Cancel participation</button>
                You and {{ride.Participants.length-1}} person are attending this ride.
              </div>
              <div class="ride-attending-container" *ngIf="ride.Participants.indexOf(user?.Username) < 0 ">
                <button class="btn btn-success" (click)="attendRide(ride)">Participate</button>
                {{ride.Participants.length}} persons are attending this ride.
              </div>
            </div>
            <div *ngIf="!isLogged">
              <div class="ride-attending-container">
                {{ride.Participants.length}} persons are attending this ride.
              </div>
            </div>
            <hr />
            <a *ngFor="let participant of ride.Participants" [routerLink]="['/user?username='+participant]">
              {{participant}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
