<div>Register</div>
<form [formGroup]="registerForm" novalidate>
  <div class="form-group">
    <table>
      <tr>
        <td>
          <label>Username</label>
        </td>
        <td>
          <input id="username" placeholder="Username" class="form-control" formControlName="name" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Password</label>
        </td>
        <td>
          <input id="password" type="password" placeholder="Password" class="form-control" formControlName="password"/>
        </td>
      </tr>
      <tr>
        <td>
          <label>Confirm password</label>
        </td>
        <td>
          <input id="passwordConf" type="password" placeholder="Confirm password" class="form-control" formControlName="passwordConf" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Email address</label>
        </td>
        <td>
          <input id="email" type="email" placeholder="Email address" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Region</label>
        </td>
        <td>
          <select class="form-control" formControlName="region">
            <option *ngFor="let x of regions" [value]="x" [selected]="user.Region == x">{{x}}</option>
          </select>
        </td>
      </tr>
    </table>
    <button id="submitRegistration" type="submit">Register</button>
  </div>
  <p>Form value: {{ registerForm.value | json }}</p>
  <p>Form status: {{ registerForm.status | json }}</p>
</form>
