div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

  /* Style the buttons inside the tab */
  div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

.root {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 5em;
}

.destinataire {
  margin-top: 1.5em;
  margin-bottom: .3em;
  background: rgba(200, 200, 200, .5);
}

  .destinataire * {
    display: inline;
  }



label {
}

.message-content {
  text-align: center;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
  background: rgba(200, 200, 200, .5);
}

input {
  opacity: 0.5;
  width: 50%;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 0.5s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
