.aligned-row {
  display: flex;
  flex-flow: row wrap;
}

.control-label {
  width: 12%;
  text-align: left;
  vertical-align: middle;
}

.control-valid {
  margin-top: 5px;
  text-align: left;
  vertical-align: middle;
}

.ride-container {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  overflow: hidden;
}

.ride-container > .panel-heading * {
  color: white;
}
