<div *ngIf="!finishedLoading && !user" class="loading">Loading ride&#8230;</div>
<section *ngIf="ride" class="container">
  <section *ngIf="user && ((isModification && (ride.Creator.UserID == user.UserID)) || !isModification)">
    <div class="panel panel-primary ride-container">
      <div class="panel-heading text-center">
        <h3 style="display:inline-block">
          {{isModification ? 'Modification de ' + ride.Title : 'Ajout d\'une ride'}}
        </h3>
        <button (click)="toggleRideContainer(this)" class="btn-nostyle" style="float:right">
          <i class="fa fa-expand" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-md-12">
        <div class="panel-body">
          <section>
            <br />

            <form (ngSubmit)="submitForm()" [formGroup]="rideForm" class="form-horizontal">
              <input type="hidden" max="9999999999" formControlName="rideid" [(ngModel)]="ride.RideId" placeholder="Id" class="form-control">
              <input type="hidden" max="9999999999" formControlName="creatorid" [(ngModel)]="user" placeholder="CreatorId" class="form-control">

              <div class="form-group">
                <label for="Title" class="col-md-4 control-label">Title :</label>
                <div class="col-md-6">
                  <input type="text" maxlength="50" formControlName="title" [(ngModel)]="ride.Title" placeholder="Title" class="form-control">
                </div>
                <span [hidden]="rideForm.controls.title.valid" class="col-md-3 control-valid">(Le title est requis)</span>
                <div class="col-md-2"></div>
              </div>

              <div class="form-group">
                <label for="Description" class="col-md-4 control-label">Description :</label>
                <div class="col-md-6">
                  <textarea maxlength="50" formControlName="description" [(ngModel)]="ride.Description" placeholder="Description" class="form-control"></textarea>
                </div>
                <div class="col-md-2"></div>
              </div>

              <div class="form-group">
                <label for="TrajetId" class="col-md-4 control-label">Trajet :</label>
                <div class="col-md-4">
                  <select formControlName="trajetid" [(ngModel)]="ride.TrajetId" class="form-control">
                    <option *ngFor="let trajet of trajets" value={{trajet.TrajetId}}>{{trajet.Title}}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <a [routerLink]="['/trajet/create/']" [queryParams]="{ReturnUrl: isModification ? 'ride/edit/' + ride.RideId : 'ride/create'}">
                    <button type="button" class="btn btn-primary">New</button>
                  </a>
                  <a [routerLink]="['/trajet/details/' + ride.TrajetId]" [queryParams]="{ReturnUrl: isModification ? 'ride/edit/' + ride.RideId : 'ride/create'}">
                    <button type="button" [disabled]="!ride.TrajetId" class="btn btn-primary">Details</button>
                  </a>
                </div>
              </div>

              <div class="form-group">
                <label for="Level" class="col-md-4 control-label">Level :</label>
                <div class="col-md-4">
                  <select formControlName="levelid" [(ngModel)]="ride.LevelId" class="form-control">
                    <option *ngFor="let level of levels" value={{level.LevelId}}>{{level.Name}}</option>
                  </select>
                </div>
                <span [hidden]="rideForm.controls.levelid.valid" class="col-md-3 control-valid">(Le Level est requis)</span>
                <div class="col-md-4"></div>
              </div>

              <div class="form-group">
                <label for="DateDepart" class="col-md-4 control-label">Date Depart :</label>
                <div class="col-md-4">
                  <input type="datetime-local" formControlName="datedepart" [(ngModel)]="ride.DateDepart" placeholder="DateDepart" class="form-control">
                </div>
                <span [hidden]="rideForm.controls.datedepart.valid" class="col-md-3 control-valid">(La Date Depart est requise)</span>
                <div class="col-md-4"></div>
              </div>

              <div class="form-group">
                <label for="DateFin" class="col-md-4 control-label">Date Fin :</label>
                <div class="col-md-4">
                  <input type="datetime-local" formControlName="datefin" [(ngModel)]="ride.DateFin" placeholder="DateFin" class="form-control">
                </div>
                <span [hidden]="rideForm.controls.datefin.valid" class="col-md-3 control-valid">(La Date Fin est requise)</span>
                <div class="col-md-4"></div>
              </div>

              <p [hidden]="rideForm.controls.creatorid.valid" class="control-valid">(Le creatorid est requis)</p>
              <p [hidden]="!rideForm.hasError('endDateLessThanStartDate')" class="control-valid">‌​(La date de fin ne peut etre avant la date de debut)</p>

              <button type="submit" [disabled]="!rideForm.valid" class="btn btn-primary">Submit</button>
            </form>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section *ngIf="!(user && ((isModification && (ride.Creator.UserID == user.UserID)) || !isModification))">
    <app-acces></app-acces>
  </section>
</section>
