/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* ANGULAR MERGE */
.btn-nostyle {
  background: none;
  border: none;
}

body {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;

  padding-top:50px;
}

.items-not-found {
  text-align: center;
  background: #ebebeb;
  padding: 50px;
  margin: auto 20%;
  border-radius: 5px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
