<div class="comment-container">
  <p>
    {{Comment.CommentText}}
  </p>
  <p class="ride-comment-header">
    <a href="/user/{{Comment.User.Username}}">
      {{Comment.User.Username}}
    </a>
    on {{Comment.TimeStamp}}
  </p>

  <div>
    <textarea [(ngModel)]="textValue" *ngIf="isLogged" id="textId_{{Comment.CommentId}}" placeholder="Enter your message" ></textarea>
    <input type="text" [(ngModel)]="textValue" placeholder="Enter your message" />
    <div style="padding:10px" disabled *ngIf="!isLogged" id="textId_{{Comment.CommentId}}">
      <p>
        <a [routerLink]="['/login']">Login </a>
        or 
        <a [routerLink]="['/register']">Register </a>
        to comment.
      </p>
    </div>
  </div>
  <button *ngIf="isLogged" (click)="sendMessage($event)" [attr.data-commentId]="Comment.CommentId" [attr.data-rideId]="null" [attr.data-textId]="'textId_'+Comment.CommentId">Send</button>

  <div class="subComment" *ngFor="let subComment of Comment.Comment1">
    <app-comment [Comment]="subComment"></app-comment>
  </div>
</div>
