<div *ngIf="Comment != null" class="comment-container">
  <p>
    {{Comment.CommentText}}
    <button *ngIf="Comment.User?.UserID == LoggedUser?.UserID" (click)="deleteMessage()" class="btn-nostyle" style="float:right"><i class="fa fa-trash" aria-hidden="true"></i></button>
  </p>
  <p class="ride-comment-header">
    <a (click)="redirectToUser(Comment.User.Username)">
      {{Comment.User.Username}}
    </a>
    <span style="font-size:0.8em">on {{Comment.TimeStamp | date:"dd/MM/yy hh:mm"}}</span>
  </p>

  <div>
    <textarea *ngIf="isLogged" [(ngModel)]="textValue" (keydown.enter)="sendMessage(); false"  placeholder="Enter your message" ></textarea>
  </div>
  <button *ngIf="isLogged" (click)="sendMessage($event)">Send</button>

  <div class="subComment" *ngFor="let subComment of Comment.ChildComments">
    <app-comment [Comment]="subComment"></app-comment>
  </div>
</div>
