<div>
  <h1 class="text-center">Browse rides <span *ngIf="rides">({{rides.length}})</span></h1>

  <div style="padding-bottom:20px;" class="container text-center">
    <div class="search">
      <input (change)="searchBar_OnChange($event)" class="searchTerm" type="text" name="search" placeholder="Search rides..">
      <button type="submit" class="searchButton" (change)="searchBar_OnChange(null)">
        <i class="fa fa-search"></i>
      </button>
    </div>

  </div>

  <div class="ride-container" *ngFor="let ride of rides">
    <div class="container-fluid">
      <div class="riderqc-section">
        <a [routerLink]="['/ride/'+ride.RideId]">
          {{ride.Title}} - {{ride.DateDepart}} by {{ride.User?.Username}}
        </a>
        <button (click)="toggleRideContainer(this)" class="btn-nostyle" style="float:right">
          <i class="fa fa-expand" aria-hidden="true"></i>
        </button>
      </div>
      <div class="aligned-row">
        <div class="col-md-4 ride-map no-padding">
          <app-trajet [editable]="false" [waypoints]="ride.Trajet.GoogleCo"></app-trajet>
        </div>
        <div class="col-md-8 ride-description bg-strip1">
          <p class="text-white">
            <strong>Niveau:</strong> {{ride.Level.Name}} <i *ngFor="let n of getTimes(ride.Level.LevelId)" class="fa fa-square" aria-hidden="true"> </i>
          </p>
          <p class="text-white">
            <strong>Description:</strong> {{ride.Description}}
          </p>
          <hr />

          <div class="comment-container">
            <div>
              <textarea [(ngModel)]="textValue" *ngIf="isLogged" placeholder="Enter your message"></textarea>
              <div style="padding:10px" disabled *ngIf="!isLogged">
                <p>
                  <a [routerLink]="['/login']">Login </a>
                  or
                  <a [routerLink]="['/register']">Register </a>
                  to comment.
                </p>
              </div>
            </div>
            <button *ngIf="isLogged" (click)="sendMessage($event)">Send</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
