agm-map {
  height: 500px;
  width: 500px;
}

.google_map {
  height: 500px;
  width: 500px;
  margin-right: 2%;
  float: left;
}

.google_map agm-map {
  width: 100%;
}

.trajetInfo {
  width: 42%;
  float: left;
}
