<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Welcome to the Administrator's panel
        </div>
        <div class="card-block">
            <h4 class="card-title">Select one of the following links.</h4>
            @Html.ActionLink("Manage the users", "list", new { controller = "admin/user", @class = "btn btn-success" })
            @Html.ActionLink("Manage the trajets", "list", new { controller = "admin/trajet", @class = "btn btn-success" })
            @Html.ActionLink("Manage the rides", "list", new { controller = "admin/ride", @class = "btn btn-success" })
        </div>
    </div>
</div>