<div id="container">
  <h2>Edit user</h2>
  <hr />
  <div class="container">
    <div class="form-group">
      <label for="Username">Username</label>
      <input readonly type="text" class="form-control" placeholder="Username" value="{{user.Username}}">
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <img src="{{user.DpUrl}}" />
      </div>
      <div class="col-md-8">
        <label for="DpUrl">Display picture url</label>
        <input type="text" [(ngModel)]="user.DpUrl" placeholder="Url" class="form-control form-control" value="{{user.DpUrl}}">
      </div>
    </div>
    <div class="form-group">
      <label for="DateOfBirth">Date of birth</label>
      <input type="datetime-local" [(ngModel)]="user.DateOfBirth" placeholder="Date of birth" class="form-control form-control" value="{{user.DateOfBirth}}">
    </div>
    <div class="form-group">
      <label for="Ville">Ville</label>
      <input type="text" class="form-control" placeholder="Ville" value="{{user.Ville}}">
    </div>
    <div class="form-group">
      <label for="Region">Region</label>
      <select class="form-control" (change)="addValue('Region')" [(ngModel)]="user.Region">
        <option *ngFor="let x of regions" [value]="x" [selected]="user.Region == x">{{x}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Description">Description</label>
      <input type="text" class="form-control" placeholder="Description" value="{{user.Description}}">
    </div>
    <button (click)="UpdateUser()" type="submit" class="btn btn-primary">Save</button>

    <hr />

    <form>
      <div *ngIf="!showPass">
        <a (click)="ShowPass()">Change Password</a>
      </div>
      <div *ngIf="showPass">
        <h2>
          Change Password Section
        </h2>
        <label id="errorLabel" style="color: red;">{{errorlbl}}</label>
        <input name="pass" type="password" placeholder="Password" [(ngModel)]="pass" (change)="clearError()" />
        <input name="confirmPass" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPass" (change)="clearError()" />
        <button name="changePass" (click)="ChangePass()">ChangePass</button>
        <button name="hidePass" (click)="hidePass()">Clear and Hide</button>
      </div>
    </form>
  </div>
</div>

<div id="container">
  <h2>
    Create Moto
  </h2>
  <div class="form-group">
    <input class="form-control" type="text" name="moto.Brand" placeholder="Brand" required [(ngModel)]="moto.Brand" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="moto.Model" placeholder="Model" required [(ngModel)]="moto.Model" />
  </div>
  <div class="form-group">
    <input class="form-control" type="number" name="moto.Year" placeholder="Year" required [(ngModel)]="moto.Year" />
  </div>
  <button class="btn btn-primary" name="createMoto" (click)="CreateMoto()">Create Moto</button>
</div>
