<div id="container">
  <!--<form [formGroup]="InfoGroup" class="form" novalidatee>-->
    <label id="errorLabel" style="color: red;">{{errorlbl1}}</label>

    <input id="ville" placeholder="ville" class="form-control" [(ngModel)]="user.Ville" />
    <select class="form-control" >
      <option *ngFor="let x of regions" [value]="x" [selected]="user.Region == x">{{x}}</option>
    </select>
    <textarea id="description" placeholder="Description" class="form-control" type="text" [(ngModel)]="user.Description"></textarea>

    


  <!--</form>-->
  
  <form>
    <div *ngIf="!showPass">
      <a (click) ="ShowPass()">Change Password</a>
    </div>
    <div *ngIf="showPass">
      <label id="errorLabel" style="color: red;">{{errorlbl}}</label>
      <input name="pass" type="password" placeholder="Password" [(ngModel)]="pass" (change)="clearError()"   />
      <input name="confirmPass" type="password" placeholder="Confirm Password"  [(ngModel)]="confirmPass" (change)="clearError()" />
      <button name="changePass" (click)="ChangePass()">Change Password</button>
      <button name="hidePass" (click)="hidePass()">Clear and Hide</button>
    </div>
   </form>
</div>
