map-container {
  width: 100%;
  display: inline-block;
}

.ride-map {
  height: 60vh;
  width: 45%;
}

.instructions {
  max-height: 65vh;
  overflow: auto;
  width: 55%;
}

.instructions agm-map {
  display: none !important;
}

.table-condensed * {
  border: none;
}

.levelSymbol:first-child {
  margin-left: 5px;
  margin-right: 2px;
}

.levelSymbol {
  margin-right: 2px;
}
